<div class="table-container">
  <h1 class="text-4xl font-extrabold text-gray-800 px-2">Point Table</h1>
  <table
    class="shadow-lg text-center mt-8 min-w-full bg-white border border-gray-300"
  >
    <thead>
      <tr>
        @for (heading of tableHeading; track $index) {
        <th class="py-2 px-4 border-b">{{ heading }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (team of pointTable; track $index) {
      <tr
        class="hover:bg-gray-100"
        [ngClass]="{ 'bg-green-200': $index <= 4, 'bg-red-200': $index > 4 }"
      >
        @if ($index > 0) { @for (data of team; track $index) {
        <td class="py-2 px-4 border-b">{{ data }}</td>
        } }
      </tr>
      }
    </tbody>
  </table>
</div>
